@charset "UTF-8";

body {
    background-color: azure;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    
}

div.material {
    width: 19rem;
    border: 1px solid #407ad1;
    border-radius: 25px;
    padding: 10px;
}

div.material > h2 {
    color: #407ad1;
}

div.material > picture {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

div.material > p.descricao {
    font-size: 1.25rem;
    font-weight: 600;
}

